<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>WanderLust: Edit</title>
    </head>
    <body>
        <h2>Edit Listing</h2>
        <form action="/listing/<%=editListing._id%>?_method=PUT" method="POST">
            <input type="text" placeholder="Enter Title" name="listing[title]" value="<%=editListing.title%>"><br><br>
            <textarea name="listing[description]" placeholder="Enter Description"><%=editListing.description%></textarea><br><br>
            <input type="text" name="listing[image]" placeholder="Enter Image Link" value="<%=editListing.image%>"><br><br>
            <input type="text" placeholder="Enter Price" name="listing[price]" value="<%=editListing.price%>"><br><br>
            <input type="text" placeholder="Enter Location" name="listing[location]" value="<%=editListing.location%>"><br><br>
            <input type="text" placeholder="Enter Country" name="listing[country]" value="<%=editListing.country%>"><br><br>
            <button>EDIT</button>
        </form>
    </body>
</html>